.calcSection {
  .title {
    margin-bottom: 20px;
}

.calcBox {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
    padding: 2.1rem 2rem 3rem;
  }

  .tabWrap {
    display: flex;

    button {
      flex: 1;
      padding: 0.9rem 0;
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0.5);

      &.active {
        color: #A3E4BC;
        border-bottom: 0.2rem solid #A3E4BC;
      }
    }
  }

  .slotWrap {
    margin: 2rem 0 3rem;
    display: flex;
    justify-content: center;
  }

  .toggle {
    position: relative;
    width: 11rem;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 5.2rem;
      height: 2.9rem;
      border-radius: 1.8rem;
      background: #fff;
      transition: 0.5s;
      left: 0.3rem;
    }

    &.am:before {
      left: 0.3rem;
    }

    &.pm:before {
      left: 5.5rem;
    }

    li {
      flex: 1;
      height: 100%;

      &:nth-child(1) {
        padding-left: 0.3rem;
      }
      &:nth-child(2) {
        padding-right: 0.3rem;
      }
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      clip-path: polygon(0 0, 0 0, 0 0);
    }

    label {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: #fff;
      mix-blend-mode: difference;
      height: 100%;
    }
  }

  .timeSelectBox {
    display: flex;
    width: 14.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 1.8rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 3.5rem;
      color: #fff;
      font-size: 1.2rem;

      &:nth-child(1) span {
        padding-left: 0.8rem;
      }

      &:after {
        content:'';
        display: block;
        margin-left: 0.7rem;
        width: 7px;
        height: 5px;
        background: url("../../assets/icons/select_arrow.svg") center/100% no-repeat;
      }

     & + button {
       border-left: 1px solid rgba(255, 255, 255, 0.2);
     }
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: center;

    button {
      & + button {
        margin-left: 1rem;
      }
    }
  }
}
